assets/puzzles/puzzles-easy.json filter=lfs diff=lfs merge=lfs -text
assets/puzzles/puzzles-medium.json filter=lfs diff=lfs merge=lfs -text
assets/puzzles/puzzles-hard.json filter=lfs diff=lfs merge=lfs -text
assets/puzzles/puzzles-insane.json filter=lfs diff=lfs merge=lfs -text
assets/puzzles/puzzles-GM.json filter=lfs diff=lfs merge=lfs -text